<div class="product-tile">
  <a [routerLink]="['/', product.slug, product.id]">
    <img width="150" height="200" class="mb-1" [src]="imageUrl" >
    <ngx-input-star-rating *ngIf="showRating" value="{{product.rating_summary.average_rating}}" class="rating" disabled="true"></ngx-input-star-rating>
    <p class="mt-1 mb-2 text-dark"> {{ product.name }} </p>
  </a>
</div>
