<div *ngIf="!screenwidth">
  <div *ngFor="let taxon of taxons">
    <a [routerLink]="['/search']" [queryParams]="{taxon: taxon.id}" (click)="getTaxonName(taxon.name)">{{taxon.name}} </a>
  </div>
</div>
<div class="subbrandmenu" *ngIf="screenwidth">
  <ul>
    <li *ngFor="let taxon of taxons">
      <a [routerLink]="['/search']" [queryParams]="{taxon: taxon.id}" (click)="getTaxonName(taxon.name)">{{taxon.name}} </a>
    </li>
  </ul>
</div>
